{% extends "base_logged_in.html" %}

{% load static %}

{% block content %}
  <h1 class="centered-content"> Update Item </h1>

  <div class="row">
    <div class="col-6 centered-content">
      <div id="map" class="centered-content"></div>
      <div>
        <p>Use the above map to indicate the location, or input directly into the form.</p>
      </div>
    </div>

    <div class="col-6 centered-content">
      <form method="post" action="{% url 'item_update' %}">
        <table>
          {% for field in form.visible_fields %}
            <tr>
              <td>{{field.label_tag}}</td>
              <td>{{field}}</td>
              <td class="errorlist">
                {% for error in field.errors %} {{error}} {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
        </br>

        {% csrf_token %}
        <button id = "id_register_button" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAay-BbLja8GTpDbknuZ8WwsgP6fKJYpWI&callback=initMap">
  </script>
{% endblock %}
