{% extends "base_logged_in.html" %}

{% load static %}

{% block content %}
  <h1 class="centered-content"> Create Item </h1>

  <div class="row">
    <div class="col-6 centered-content">
      <div id="map" class="centered-content"></div>
      <div>
        <p>Use the above map to indicate the location, or input directly into the form.</p>
      </div>
    </div>

    <div class="col-6">
      <form method="post" action="{% url 'item_create' %}">
        <table>
          {% for field in form.visible_fields %}
            <tr>
              <td>{{field.label_tag}}</td>
              <td>{{field}}</td>
              <td class="errorlist">
                {% for error in field.errors %} {{error}} {% endfor %}
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td><label for="price">Price: </label></td>
            <td><input type="number" step="0.01" name="price" value="0" required></td>
          </tr>

          <tr>
            <td><label for="street">Street: </label></td>
            <td><input id="street" type="text" name="street" required></td>
          </tr>

          <tr>
            <td><label for="city">City: </label></td>
            <td><input id="city" type="text" name="city" required></td>
          </tr>

          <tr>
            <td><label for="state">State: </label></td>
            <td><input id="state" type="text" name="state" required></td>
          </tr>

          <tr>
            <td><label for="zip">Zip: </label></td>
            <td><input id="zip" type="text" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" maxlength="5" name="zip"></td>
          </tr>
        </table>

        {% csrf_token %}
        <button id = "id_register_button" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGjLA5D0cDn63JS4OEckh3RM6xyCBmbCo&callback=initMap">
  </script>
{% endblock %}
