<!doctype html>
<html>
	<head lang = "en">
	    <meta charset="utf-8">

	    <!-- stylesheets -->
		{% load static %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static 'mellonsforsale/css/base.css' %}" rel="stylesheet" type="text/css">

		<!-- javascript -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'mellonsforsale/js/mellonsforsale.js' %}" type="text/javascript"></script>
        
		<title> {% block title %} MellonsForSale {% endblock %} </title>
	</head>


	<body>
		<div class="row big-heading">
			<div class="col-8 big-heading">
				<a id="site-name" href="{% url 'storefront' %}"> Mellons For Sale </a>
			</div>

			<div class="col-4">
				{% block user-info %}
				{% endblock %}
			</div>
		</div>

	    {% if message %}
	        <div class="message">
	            {{message}}
	        </div>
	    {% endif %}
 
	    <div class="content">
		    {% block content %}
		    {% endblock %}
		</div> 
	</body>

</html>