{% extends "base.html" %}

{% block user-info %}
  <div class="user-info">    
    <div class="dropdown">
      <button id="id_show_nav_button" class="dropbtn">Guest User &#8595;</button>
      <div class="dropdown-content">
        <a class="nav_link" href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="centered-content">
    <h1 class="page_name">Login</h1>

    <form method="post" action="{% url 'login' %}">
      <table>
        {{form}}
      </table>
      {% csrf_token %}
      <button id = "id_login_button" type="submit">Login</button>
    </form>

    {% for error in form.non_field_errors %}
      <p class="errorlist">
        {{ error }}
      </p>
    {% endfor %}
  </div>
{% endblock %}
