{% extends "base.html" %}

{% block user-info %}
  <div class="user-info">    
    <div class="dropdown">
      <button id="id_show_nav_button" class="dropbtn">Guest User &#8595;</button>
      <div class="dropdown-content">
        <a class="nav_link" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="centered-content">
    <h1 class="page_name"> Register for Mellons For Sale: </h1>
  </div>

  <div class="centered-content">
    <form method="post" action="{% url 'register' %}">
      <table>
        {% for field in form.visible_fields %}
          <tr>
            <td>{{field.label_tag}}</td>
            <td>{{field}}</td>
            <td class="errorlist">
              {% for error in field.errors %} {{error}} {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>

      {% csrf_token %}
      <button id = "id_register_button" type="submit">Register</button>
    </form>
  </div>
{% endblock %}
